tests/__pycache__/

\.coverage

*.pyc

\.pytest_cache/v/cache/lastfailed

\.pytest_cache/v/cache/nodeids

\.pytest_cache/v/cache/stepwise

\.vscode/

\.env
\.venv

geckodriver\.log

ghostdriver\.log

tests/\.DS_Store

tests/features/\.DS_Store

\.DS_Store

venv/

env/

*.code-workspace

report\.html

assets/

\.pytest_cache/v/cache/

*.log

venv-wsl/
venv-wsl1/
CIM_Automation_Test_Report.html
